[2017-11-07 14:03] rudymarca opened #2 "Warning"
![whatsapp image 2017-11-07 at 10 02 10](https://user-images.githubusercontent.com/7443487/32497406-d41c22a2-c3a2-11e7-8085-7e4ee052edf0.jpeg)

[2017-11-07 15:57] mxck commented on #2
@rudymarca hi! Can you say your react-native version?

[2017-11-07 15:59] mxck commented on #2
@rudymarca hi! Thanks for the ticket! I'll fix it tomorrow 👍

[2017-11-07 16:09] rudymarca commented on #2
El 7 nov. 2017, a las 11:57, Maksim <notifications@github.com<mailto:notifications@github.com>> escribió:

@rudymarca<https://github.com/rudymarca> hi! Can you say your react-native version?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mxck/react-native-material-menu/issues/2#issuecomment-342528405>, or mute the thread<htt

[2017-11-09 02:12] #2 closed

[2017-11-11 19:18] rudymarca opened #3 "New warning"
<img width="1432" alt="captura de pantalla 2017-11-11 a la s 15 16 55" src="https://user-images.githubusercontent.com/7443487/32692719-8d42481c-c6f3-11e7-832d-c8edf24714d3.png">

[2017-11-12 03:08] mxck commented on #3
@rudymarca a warning comes from react-navigation, not from this component (react-native-material-menu)

[2017-11-12 03:10] #3 closed

[2017-11-29 23:16] Noitidart opened #6 "Fantastic thank you!"
On Android I was trying to achieve this effect. I was using a hack on `<Picker mode="dropdown">` and it was a really bad experience. Thanks for this module!

[2017-11-29 23:16] #6 closed

[2017-11-30 03:12] mxck commented on #6
@Noitidart
![tenor](https://user-images.githubusercontent.com/2190443/33411223-edab72ce-d5b6-11e7-8e14-181b5d871776.gif)

[2017-11-30 07:52] Noitidart commented on #6
:)

[2017-12-01 18:57] Noitidart opened #7 "NPM install issue"
For some reason, I cannot install (`npm i`) other packages while this package is installed. I get the error below. I have to first `npm un react-native-material-menu` and then install the other package then I can install this back. Is this just me?

### Environment

Environment:
OS: Windows 10
Node: 8.4.0
Yarn: 0.19.1
npm: 5.4.2
Watchman: Not Found
Xcode: N/A
Android Studio: Version 2.3.0.0 AI-162

[2017-12-02 12:42] mxck commented on #7
@Noitidart can you fully remove node_modules folder?
`rm -rf node_modules`
then run
`npm install` or `yarn`

[2017-12-02 14:48] Noitidart commented on #7
Thanks mxck! I will try that on Monday please :)

[2017-12-06 15:56] goncalo-msrt opened #8 "When I open the menu the status bar disappears - Android"
On Android when I open the menu the status bar of the devices disappears, is this a wanted behaviour? happens just to me?

Thanks in advance

[2017-12-06 21:20] Noitidart commented on #7
Thanks so much @mxck for leaving this open for me. I haven't been able to fix this. I'm not sure why. I'll close this out. It seems something specific to me. Thanks very much again. I'll update you when I find a fix. :)

[2017-12-07 00:47] Noitidart commented on #7
Oh just an update to the stuff I tried:

* the `rm -rf node_modules` then `npm i`
* created a new react native project `react-native init` and tried it here

Same results in both. Will keep you updated.

[2017-12-07 06:17] mxck commented on #8
@goncalo-msrt no, this is not wanted behavior. Please can you post some code example? Also react-native version and device info would be helpful! :)

[2017-12-07 12:20] goncalo-msrt commented on #8
Just using your example happens.
android 7, oneplus 5t. react-native 0.49, gonna do more tests

[2017-12-09 07:14] mxck commented on #8
@goncalo-msrt try fix this in next week :)

[2017-12-09 07:25] goncalo-msrt commented on #8
So you could see the same issue?

On Dec 9, 2017 8:14 AM, "Maksim" <notifications@github.com> wrote:

[2017-12-09 07:33] mxck commented on #8
No, but I try recrate it on my Android phone, but only on next week:smiley:

[2017-12-11 02:52] mxck commented on #8
@goncalo-msrt I can't recreate this is issue on my device :\

[2017-12-20 11:06] #8 closed

[2017-12-29 14:20] pherm opened #9 "Can you do an example to switch navigation?"

[2017-12-29 15:45] mxck commented on #9
@pherm can you give a more complete description?

[2017-12-29 17:20] pherm commented on #9
@mxck yeah. I want to add two page screen (i use react navigation), can you explain how to do with your package?

[2017-12-30 21:05] pherm commented on #9
My code don't job! 👇👇
//
import { NavigationActions } from 'react-navigation'

//
const { navigation } = this.props;

//...
<MenuItem onPress={this.hideMenu}>SCREEN 1</MenuItem>
<MenuItem onPress={() => this.props.navigation.navigate("screen2")}>SCREEN 2</MenuItem>

[2017-12-31 10:20] mxck commented on #9
@pherm can you show full code?

[2017-12-31 13:15] pherm commented on #9
@mxck i attach it!
[test_nav.txt](https://github.com/mxck/react-native-material-menu/files/1595182/test_nav.txt)

[2018-01-02 14:34] pherm commented on #9
@mxck man, I'm waiting for your feedback!

[2018-01-17 17:40] Noitidart commented on #7
@mxck Im still having this problem even in new project.

I was wondering what was the equivalent of `rm -rf node_modules` in windows, do you know please?

[2018-01-21 09:36] AlexandrePalo opened #10 "Elevation should be 8"
Hello,

Thanks for your component.
In order to stay consistent, according to the [Material guide concerning elevation](https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android) the elevation should be 8 and not 2 by default.

So, on android:
`{
elevation: 8
}`

And on IOS:
`{
shadowOpacity: 0.192,
shadowRadius: 4.32,
      shadowOffset: {
        he

[2018-01-23 06:24] mxck commented on #9
@pherm sorry for waiting :) For this kind of questions you need to use https://stackoverflow.com

[2018-01-23 06:24] #9 closed

[2018-01-23 06:27] mxck commented on #10
@AlexandrePalo hi! Yes, you can make PR. 👍

[2018-01-23 09:59] pherm commented on #9
dude, your feedback, now, It is useless!

[2018-01-24 22:03] kcbar commented on #7
I had this issue. I switched to using yarn instead of npm and it doesn't happen anymore.

[2018-01-24 22:15] Noitidart commented on #7
@kcbar that's an interesting note. It would be nice to find the root cause though.

[2018-01-25 03:14] mxck commented on #7
Ok, I reopen ticket and test with NPM

[2018-01-25 04:00] Noitidart commented on #7
Thanks @mxck!

[2018-01-28 13:44] mxck commented on #7
@Noitidart I don't have any errors at my Mac with npm.
[code]
What version you using?

[2018-01-28 18:45] Noitidart commented on #7
@mxck  I am on windows, also 5.6.0

[2018-01-31 16:38] DevAlien commented on #7
@mxck I'm on mac, it happens when I run npm install a second time, the first time goes well.

I think the issue is that in the package we get from npm there's a .git folder, you should not package that one.

Removing the .git directory inside node_modules/react-native-material-menu works

`rm -rf node_modules/react-native-material-menu/.git`

[2018-01-31 17:38] mxck commented on #7
Hm. Ok I check it later. Thanks!
ср, 31 янв. 2018 г. в 23:38, Gonçalo Margalho <notifications@github.com>:

[2018-01-31 17:48] DevAlien commented on #7
Thanks to you man, if you solve it would be very good for us :)

[2018-02-01 04:08] mxck commented on #7
[code]
Hmm. Something goes wrong. :)

[2018-02-01 04:28] mxck commented on #7
Fixed in c398fc497150809

[2018-02-01 04:28] #7 closed

[2018-02-01 04:30] mxck commented on #7
NPM have a bug with it https://github.com/npm/npm/issues/19073
Publish last version with yarn :)

[2018-02-01 18:27] Noitidart commented on #7
Woohoo it works!!! Thanks all!!

[2018-02-09 16:31] Noitidart opened #12 "On Android, not matching native PopupMenu look"
Hi there,

I am using this on android currently to try to acheive the native PopupMenu. This is a screenshot of native PopupMenu:

![popupmenu-android-case](https://user-images.githubusercontent.com/6372489/36038006-35cccaa0-0d73-11e8-92b7-f9d6133b581d.png)

And this is how it looks when I use react-native-material-menu out of the box on Android:

![react-native-material-menu-android-case](https:/

[2018-02-09 16:34] Noitidart commented on #12
Ohhh shoot I just read the readme, this does match spec for web material menu. Shoot. Maybe this is not an issue. However, this module is pretty much I would say 100% used on mobile, so it might be nice to offer the mobile material spec. :)

[2018-02-09 16:59] mxck commented on #12
@Noitidart temporary you can pass styles and textStyles props to MenuItem.
Also. Than version of android you use and device? This is pure android?

[2018-02-09 17:01] mxck commented on #12
And I think use TouchableNativeFeedback is good idea.

[2018-02-11 19:58] Noitidart commented on #12
Thanks @mxck!! I use Android 4.4.4 and Android 6.0.

[2018-02-11 20:10] Noitidart opened #13 "iOS controlling pointiness of arrow"
Is it possible to control the round-ness/pointy-ness of the arrow on iOS? And non-blur but opaqueness Like iOS 7 design has:

http://iosguides.net/icloud-website-updated-ios-7-design-style/

![](http://iosguides.net/wp-content/uploads/2013/08/iCloud-Menu-iOS-7.jpg)

![](http://iosguides.net/wp-content/uploads/2013/08/Reminders-List-iCloud-iOS-71.jpg)

[2018-02-11 20:11] Noitidart opened #14 "iOS controlling position of arrow"
Is it possible to put the arrow on the horizontal sides or bottom side of the menu?

Currently it only comes up on top side.

Here are examples on iOS where they do other sides:

![](http://www.completedynamics.com/images/ios/gui/popup_menu_case_sharing_p_t_en.png)

From - http://www.completedynamics.com/help/cdhelp_case_module_case_sharing_p_ios_tablet_en.html

![](http://iosguides.net/wp-content

[2018-02-11 20:13] Noitidart commented on #13
Oops excuse this please, posted in wrong repo! haha

[2018-02-11 20:13] #13 closed

[2018-02-11 20:13] Noitidart commented on #14
Shoot this one too! Excuse that please!

[2018-02-11 20:13] #14 closed

[2018-02-12 22:45] Noitidart commented on #12
@mxck I just found a native solution is already built into react-native, so we can leave your module as is, so it gives the "material-web" style.

[2018-03-27 13:44] PoojaVM opened #16 "Unable to change the position of the menu."
I have implemented the menu as you have suggested in the usage section here - https://github.com/mxck/react-native-material-menu and it works fine.

The issue I am facing is regarding the position of the menu opened. I am able to locate the show menu text wherever I want on the screen but the menu always opens in the left top corner. I want it to open in the top right corner.
Please let me know ho

[2018-03-29 08:53] mxck commented on #16
@PoojaVM hi! Can you post some you code sample?

[2018-03-29 09:02] #10 closed

[2018-04-08 04:51] reddyabhishek commented on #16
If I just copy-paste  your code, the Show Menu button appears in the top-left part of the screen. How to put it in the top-right?

[2018-04-08 05:41] mxck commented on #16
You can place menu where you want using ```style``` prop or by wrapping with View component from React-Native.

I update example, so you can check full code.

[2018-04-08 05:41] #16 closed

[2018-04-17 07:32] kas2000 opened #18 "undefined is not an object (evaluating '_this.menu.current.show')"
When I try to click on show menu button the error occurs: undefined is not an object (evaluating '_this.menu.current.show')

Code:

[code]

[2018-04-17 08:26] mxck commented on #18
@kas2000 can you post your `react-native info`?

[2018-04-20 13:27] phe-move-elevator-de commented on #18
Hy, i have the same issue. Here is my info:

Environment:
  OS: macOS High Sierra 10.13.4
  Node: 7.10.0
  Yarn: Not Found
  npm: 4.2.0
  Watchman: 4.9.0
  Xcode: Xcode 9.3 Build version 9E145
  Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
  react: 16.3.0-alpha.1 => 16.3.0-alpha.1
  react-native: 0.54.1 => 0.54.1

[2018-04-21 12:06] mxck commented on #18
@phe-move-elevator-de @kas2000 ok. I check this on Monday :)

[2018-04-21 12:24] mxck commented on #18
Fixed in 7a7d8132ac0b5c6f7892801b1cb92a51cc022883

[2018-04-21 12:24] #18 closed

[2018-04-24 09:13] paolospag opened #19 "How to get value on MenuItem selection?"
Hello,
I was searching for a native popup menu to create a filter bar for a FlatList component (e.g. order by name, price etc) and I found this great module.

I installed it and it works fine, but I don't understand how to get value from MenuItem selection.
The onPress method on MenuItem just hides the menu, but I can not pass the selected value.
Any idea to do that?

Thank you.

[2018-04-24 10:06] mxck commented on #19
Hi!
Just modify example from _README.md_
[code]

you can also use [bind](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind), but this is not recommended.

[2018-04-24 10:08] mxck commented on #19
@paolospag If the answer suits you, you can close the ticket :)

[2018-04-24 15:48] paolospag commented on #19
@mxck awesome!
This is exactly what I needed.
Thanks for your support!

[2018-04-24 15:48] #19 closed

[2018-04-25 02:23] r3wt opened #20 "peer dependencies"
[code]

[2018-04-25 03:40] mxck commented on #20
@r3wt in readme I have a note:

If you have older react-native version use 0.2 version.

You can install older version like this:
- By yarn `yarn add react-native-material-menu@~0.2.0`
- By npm `npm install --save react-native-material-menu@~0.2.0`

Also you can upgrade your react-native project by this [guide](https://facebook.github.io/react-native/docs/upgrading.html)

If you upgrade your proje

[2018-04-25 03:45] mxck commented on #20
Sorry. I din not see that `none is installed`. Are you sure that you are installing the package in react-native project folder?

[2018-04-25 03:52] r3wt commented on #20
lol, yes of course i installed it in my project. imo, this is a bad/wrong use of peer dependencies. i ended up just using a different library instead *shrugs*

On Apr 24, 2018 10:45 PM, Maksim <notifications@github.com> wrote:

Sorry. I din not see that none is installed. Are you sure that you are installing the package in react-native project folder?

—
You are receiving this because you were men

[2018-04-25 04:06] mxck commented on #20
Why? :)

Ok! This is your choice :)

Also seems this is npm issue, recommended way `rm -rf node_modules` and install `npm install`.  Everything works.

Can you try before use other library? :)

[2018-04-25 04:31] r3wt commented on #20
npm doens't install peer dependencies anymore, so you should avoid declaring peer dependencies in your package, and declare them as dependencies instead.

I'm sorry, i already moved to the other library. This is just a side gig i work at nights. I simply don't have the time to wait

[2018-04-25 04:36] #20 closed

[2018-04-25 08:46] yordanisgomez opened #21 "error rendering the menu"
Hello,
after the onPress Menu button is raised, I get this error:

Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

Check the render method of `Menu`.

This error is located at:
    in RCTView (at View.js:71)
    in View (at createAnimatedComponent.js:147)
    in AnimatedComponent (at Menu.js:

[2018-04-25 10:09] mxck commented on #21
@yordanisgomez you have old version of react-native.
In readme you can see note about it

You can force use old version by `yarn add react-native-material-menu@~0.2.7` or `npm install --save  react-native-material-menu@~0.2.7`. Also you can upgrade your project by this [guide](https://facebook.github.io/react-native/docs/upgrading.html).

[2018-04-25 10:09] #21 closed

[2018-04-27 09:17] paolospag opened #22 "Warning when open menu"
Hi,
I noticed a "little" bug when I open the menu.
The console reports this warning:

"Warning: isMounted(...) is deprecated in plain JavaScript React classes. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks."

Any idea about this warning?

Thank you

[2018-04-27 11:07] mxck commented on #22
This is react-native bug https://github.com/facebook/react-native/issues/18921#issuecomment-382727030

[2018-04-27 11:07] #22 closed

[2018-05-04 08:15] PoojaVM commented on #16
Hey @mxck , I did not look into it afterwards. I will try it out since you have updated the example. Thank you.

[2018-05-10 05:19] khushboogupta1 opened #23 "Menu items in horizontal line"
How to display menu-items in a horizontal line instead of vertical.

[2018-05-10 05:58] mxck commented on #23
In current implementation you need wrap own menu items with custom view, like this:
[code]

later I add contentStyle prop

[2018-05-10 05:58] #23 closed

[2018-05-10 10:49] khushboogupta1 opened #24 "How can i show menu in render by calling function"
According to my project need, i need to click on name or any other field and then menu should popup. So, i called a function from render() to show menu but it is not showing up. Below is my code snippet, please have a look and fix the issue. If there is issue of zIndex then also please help me.

        import React, { Component } from 'react';

        import { AppRegistry, StyleSheet, TextInput,

[2018-05-20 09:40] h4m3d66 opened #25 "When I press the compass mode on react-native-maps the menu opens"
I have a screen that on top it, it has material menu and on the bottom of it, it has google maps from react-native-maps. In this screen when I press the compass mode on google maps, the menu opens.

[2018-05-25 07:18] Salman18 opened #26 "how to increase the width of menu item List?"
I didn't find props for increasing size in Documentation.

[2018-05-27 10:11] Strafer14 opened #27 "On iOS when I navigate through the material menu from a chat window, the keyboard gets stuck on the screen."
I have a chat component in which I have a right header component (through react navigation) that on click opens a material menu. In the menu I can navigate to a different screen, if I clicked on the text input and opened the keyboard, when I press on the right header component it closes the keyboard, but the moment I click to navigate to the other screen the keyboard comes back and is now stuck, w

[2018-06-04 06:07] jenni-divvito opened #29 "Problems if alert is shown on menuItem click (iOS only)"
Hello

Right now there is a problem when showing an alert in the onClick of a MenuItem. This would look to be related to https://github.com/facebook/react-native/issues/10471 and is only for iOS. The long shot is that if an alert is opened while a modal is closing, the alert disappears and the app ui locks up. This persists until the app is closed, so from a user perspective, it is basically a cra

[2018-06-04 06:39] mxck commented on #27
@Strafer14 sorry for late. You resolve your issue?
If not please can you post come minimal code example?

[2018-06-04 06:39] mxck commented on #29
@chris-divvito I check it today.

[2018-06-04 06:48] mxck commented on #29
@chris-divvito  some one already add `onHidden` prop in `Menu`. You can use it.
But I think best way is add callback in `hide` method.  Example:
[code]
Will this be the solution for you?

[2018-06-04 06:49] mxck commented on #25
@h4m3d66 I did not understand your question. Can you give me some details?

[2018-06-04 06:51] mxck commented on #24
I think you just need to better understanding React workflow. And this question would go more to https://stackoverflow.com

[2018-06-04 06:51] #24 closed

[2018-06-04 13:57] h4m3d66 commented on #25
Sure,
This is my initial Screen:
![initial](https://user-images.githubusercontent.com/15716660/40921399-988a4cc4-6824-11e8-8727-ea481d140a51.jpg)
And this is the same screen when I press on compass:
![next](https://user-images.githubusercontent.com/15716660/40921442-b204fcda-6824-11e8-96bc-ee2e940fa916.jpg)
As it is showing, when I press on compass, somewhere else on top left of the screen also pr

[2018-06-04 15:57] mxck commented on #25
I think issue in your layout.
If you press in this area menu is also shown?
![40921399-988a4cc4-6824-11e8-8727-ea481d140a51](https://user-images.githubusercontent.com/2190443/40928069-97314262-684a-11e8-9803-221499752653.jpg)

[2018-06-05 03:09] chris-divvito commented on #29
yeah, because of that I feel like the best option would be something similar to what you initially posited.

What about if the hide method returned a Promise? This could be implemented like:

[code]

then the calling code could do something like:

[code]
?

[2018-06-05 04:07] mxck commented on #29
Modal have `fade` animation, so menu not really hidden after state update.

[2018-06-05 04:45] chris-divvito commented on #29
Oh - my understanding of the CompositeAnimation API was that the callback provided to `.start()` was called on completion, not initialization. Am I wrong there?

It's poorly documented on RN's side, but looking at it's usage in other places I always took it to be a completion callback, and it's treated that way in some various tutorials and such: https://medium.com/react-native-training/react-nati

[2018-06-05 05:51] mxck commented on #29
Oh my bad. I got a little confused.

https://github.com/mxck/react-native-material-menu/blob/master/src/Menu.js#L108
With this changes alert bug still here.

[2018-06-05 06:15] chris-divvito commented on #29
Oh it is? hmmmm... this possibly brings me back to my initial suggestion of exposing the onDismiss for `<Modal/>` - That looks to be how they resolved the same issue over here -> https://github.com/wookoinc/react-native-popover-tooltip/pull/22

I'd be happy to put together a pull request if you'd like

[2018-06-05 12:14] h4m3d66 commented on #25
No menu only opened when I press on compass

[2018-06-12 10:25] suraj-epsumlabs opened #30 "How to handle multiple menu in List."
I have a dynamic List. I want to open menu on button click in each list item.  How to do that?

[2018-06-14 06:26] Salman18 opened #31 "Want to reduce Space between menu items."
Want to reduce space between successive menu items.

[2018-06-19 14:45] paolospag opened #32 "Unable to set MenuItem in fullwidth"
Hi,
I tried to set my custom select Menu in fullwidth, but the items not seems to rendered correctly because their width is more or less half the main Menu.

In my Menu component, I do this:
[code]

and MenuItem:

[code]

Is there a way to fix this?
Can you provide a 'fullwidth' props option?

Thanks

[2018-06-20 06:16] #12 closed

[2018-06-20 06:16] #27 closed

[2018-06-20 06:19] mxck commented on #29
@chris-divvito sorry for late answer. You can make it :)
in https://github.com/mxck/react-native-material-menu/blob/master/src/Menu.js#L110
use something like
[code]
and call onHidden on modal dismiss.

[2018-06-20 06:21] mxck commented on #30
You can write HOC wrapper with pass button component. Like <MyAwesomeMenu button={MyAwesomeListItem} /> or something like this.

[2018-06-20 06:21] #30 closed

[2018-06-20 06:22] mxck commented on #31
You can pass `style` prop to MenuItem

[2018-07-04 03:57] nicolasconnault opened #33 "StatusBar appears whenever a menu opens"
I have an app that runs in full screen all the time, but when a react-native-material-menu is opened, the status bar appears at the top. Can this be prevented?

[2018-07-06 17:12] paolospag commented on #32
Any suggestions about this?
This is my problem:
![schermata 2018-07-06 alle 19 10 28](https://user-images.githubusercontent.com/35046292/42391685-7ef799d4-8150-11e8-8211-afd548120c6d.png)

[2018-07-10 14:21] shaunsaker opened #34 "Pass testID props to Menu and MenuItems"
Hi guys,

Thanks for a cool menu.

Would you consider allowing passing of testID props to the Menu and MenuItem. This is useful for E2E testing with Detox.

I realise this might be an edge use case and am happy to submit a PR.

Cheers,
Shaun

[2018-07-10 15:01] mxck commented on #34
@shaunsaker hi! Yep, you can make PR.

[2018-07-11 07:09] shaunsaker commented on #34
@mxck Thanks, much appreciated. I have opened a [PR](https://github.com/mxck/react-native-material-menu/issues/34).

[2018-07-11 10:57] #34 closed

[2018-07-19 07:48] kostyaVyrodov opened #36 "Android: Text ellipsizeMode="clip" crashes on Android"
## Environment:

- OS: macOS High Sierra 10.13.1
- Node: 8.11.1
- Yarn: 1.6.0
- npm: 6.1.0
- Watchman: 4.9.0
- Android Studio: 3.1.3

## Packages:
- react: 16.3.1
- react-native: 0.55.2

## Steps to Reproduce
1. Create android react-native app
2. Copy [Usage example](https://github.com/mxck/react-native-material-menu#usage-example) to your code
3. Run app

## Expected Behavior
Application works we

[2018-07-22 06:30] #31 closed

[2018-07-24 06:06] kolyneh opened #38 "Appears to be a git repo or submodule."
Error occurred when running "npm install":
`node_modules\react-native-material-menu: Appears to be a git repo or submodule.`

Same error mentioned in [https://github.com/APSL/react-native-version-number/issues/13](url) ,
and reason maybe like `alexgvozden's` comment.

[2018-07-24 08:39] osiellima opened #39 "Issue in landscape mode."
When the device is in landscape mode and try to show menu what happend is that view changes to portrait mode. (Only tried on iOS device)

[2018-07-24 11:51] osiellima commented on #38
Same problem here.

[2018-07-24 13:04] #36 closed

[2018-07-24 13:05] mxck commented on #38
@kolyneh @osiellima check last 0.3.3 version.

[2018-07-24 13:10] mxck commented on #39
Ok, this is modal problem. I fix it tomorrow.
https://facebook.github.io/react-native/docs/modal#supportedorientations

[2018-07-25 10:43] furedal commented on #32
Menu item is initially set to maxWidth: 248. You need to override it.

[2018-07-25 15:08] mxck commented on #39
Fixed in 0.3.4

[2018-07-25 15:08] #39 closed

[2018-07-25 16:03] mxck commented on #32
@paolospag yep, right now you need set `maxWidth` of MenuItem by `style` prop (like `<MenuItem style={{maxWidth:  500}} />.
I think I need redesign this.

[2018-07-25 16:03] #32 closed

[2018-07-25 16:04] mxck commented on #25
@h4m3d66 you fix this?

[2018-07-25 16:04] #25 closed

[2018-07-25 16:05] mxck commented on #33
@nicolasconnault hi! Can you post some example?

[2018-07-25 16:05] #38 closed

[2018-07-25 16:42] h4m3d66 commented on #25
no not fixed yet

[2018-08-01 13:00] MrPudge opened #40 "Long menu list doesn't fit in screen"
![react-native-material-menu long menulist](https://user-images.githubusercontent.com/41998881/43523070-80b6b4f8-959b-11e8-9ac1-81bc2aa22b0b.png)

**Example:**

[code]

Would it be possible to put it in a ScrollView or something?

[2018-08-02 09:02] MrPudge commented on #40
Nvm, I was retarded.

[2018-08-02 09:02] #40 closed

[2018-08-02 12:16] mxck commented on #40
@MrPudge chin choppa chin choppa!

[2018-09-24 13:25] vijay2330 opened #41 "Not able to view in IOS while pressing"
Not showing menu in IOS while the onclick event fires..... Sometimes open but a very delayed response in IOS.......... Very diffcult to list the menuItems in IOS... Any suggestions?

[2018-09-26 05:38] nicolasconnault opened #42 "Render icon + text in MenuItem"
Hi!

Is it possible to render React components as well as a string in the MenuItem's children property?

Like this: https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F0B54x0KDcs5U-NC1tYmRKQWIzdDA%2Fbehavior-icon.png

When I try, I get an "Unexpected view type nested under text node".

[2018-09-27 04:10] mxck commented on #42
@nicolasconnault hi!
Right now you need to create custom `MenuItem` component or you can use [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons) that render icons as custom font (as text).

[2018-09-27 04:33] nicolasconnault commented on #42
Thanks @mxck, I'll try the custom MenuItem approach, it sounds good to me.

[2018-09-27 04:40] #42 closed

[2018-10-01 03:28] mxck commented on #41
@vijay2330 can you show example with code? You can also try make production build

[2018-10-04 02:06] roshangm1 commented on #30
Can you provide some sample code for this ?

[2018-10-04 02:10] roshangm1 commented on #30
I tried rendering the menu in each list item but when clicking the button, it will only show menu for the last item in the list whichever button you click.

[2018-10-19 09:35] osiellima opened #44 "Showing modal in onPress action does not work in iOS, in Android works perfectly."
I´m using it this way in a PureComponent, please let me if I am doing something wrong.
import React from 'react'
import Menu, {MenuItem} from 'react-native-material-menu'
import theme from "../theme"
import {Icon} from './Icon'

class DropdownMenu extends React.PureComponent {
  render () {
    const {iconName, menuList} = this.props
    return (
      <Menu ref={(ref) => { this._menu = ref }} but

[2018-10-19 09:47] osiellima commented on #44
I´m using it this way in a PureComponent, please let me if I am doing something wrong.

`import React from 'react'
import Menu, {MenuItem} from 'react-native-material-menu'
import theme from "../theme"
import {Icon} from './Icon'

class DropdownMenu extends React.PureComponent {
  render () {
    const {iconName, menuList} = this.props
    return (
      <Menu ref={(ref) => { this._menu = ref }} b

[2018-10-19 10:07] osiellima commented on #44
I solved using it this way:

import React from 'react'
import Menu, {MenuItem} from 'react-native-material-menu'
import theme from "../theme"
import {Icon} from './Icon'

class DropdownMenu extends React.PureComponent {
  constructor(){
    super()
    **this.onItemPress = null**
  }
  render () {
    const {iconName, menuList} = this.props
    return (
      <Menu **onHidden={() => this.onHidden(

[2018-10-19 10:07] #44 closed

[2018-11-05 03:39] shaun-chiang opened #45 "Add tests for components"
Would be nice if some tests can be written for this component

[2018-11-22 11:54] geekvijay commented on #29
this issue still persist on ios

[2018-11-24 14:42] geekvijay commented on #29
@mxck, I think you can close this issue as we are now calling the onHidden method on Modal onDismiss for ios.

[2018-12-04 14:57] nbastoWM opened #47 "Long item list opens up and doesn't show everything"
I have this problem and I can't seem to be able to fix it:

![image](https://user-images.githubusercontent.com/15138821/49447610-e7dacd00-f7ce-11e8-9873-66d2a076eea9.png)

The menu opens up and doesn't show/scroll all the items.  The menu is inside in a scrollview.
The right popup menu is shorter so it shows everything.

![image](https://user-images.githubusercontent.com/15138821/49450179-638b4880

[2018-12-05 12:20] mxck commented on #47
@nbastoWM hi! If you need such a long menu, then most likely this component does not suit you :) Check iOS and android UI style guides.

For temporary fix you can just set `maxHeight` style prop.
Instead of this `style={{flex:1, height:this.props.options.length > 8 ? 400 : 'auto'}}` just try `style={{ maxHeight: 400 }}`

[2018-12-05 12:20] #47 closed

[2018-12-08 20:53] devahmadbarham opened #48 "Failed prop type: Invalid prop `children` of type `object` supplied to `MenuItem`, expected `string`."
Failed prop type: Invalid prop `children` of type `object` supplied to `MenuItem`, expected `string`.
i was try to get item from array but i have this error
code
render {
  let citymenu = this.state.city.map((val, key) => {
          return     <MenuItem  key={key} onPress={()=> {this.state.cityselectname=val.name; }}><Text style={{color:'white'}}>  {val.name}</Text></MenuItem>  });

return {

<Me

[2018-12-09 03:41] mxck commented on #48
@devahmadbarham hi! Please send formatted code. :) Also check `textStyle` prop. You don't pass text  component to `MenuItem`

[2018-12-16 13:16] naveedshahji commented on #33
same issue on andriod with me.

[2018-12-16 13:17] naveedshahji opened #49 "Can I show three line icon instead of "Show menu" text"

[2018-12-16 17:52] mxck commented on #33
@naveedshahji can you post some example?

[2018-12-16 17:55] mxck commented on #49
@naveedshahji yep you can. You can pass [Image](https://facebook.github.io/react-native/docs/image)  component from standard library or use [vector icons](https://github.com/oblador/react-native-vector-icons).

[2018-12-16 17:55] #49 closed

[2018-12-17 10:42] naveedshahji commented on #33
here is the code <View>

        <Menu
          ref={this.setMenuRef}
          button={<Text onPress={this.showMenu}>Settings</Text>}

          <MenuItem onPress={this.hideMenu}>Settings</MenuItem>
          <MenuDivider />
          <MenuItem onPress={this.Logout}>Log Out</MenuItem>
        </Menu>
      </View>

[2018-12-17 16:36] naveedshahji opened #50 "unable to go to another file"
like <Search screenProps={{ uid:this.props.screenProps.uid}} /> could not able to go to Search .js

[2018-12-17 18:14] mxck commented on #50
@naveedshahji wrong repository?

[2018-12-17 18:14] #48 closed

[2018-12-17 18:14] #45 closed

[2018-12-19 06:56] mddanishansari opened #51 "Menu is going out of view"
This is my normal menu
![screenshot_1545202009](https://user-images.githubusercontent.com/11080523/50203908-07eebc80-0389-11e9-9366-31083a62ada9.png)

But if I open when menu button is below, the menu goes out of the view
![screenshot_1545201988](https://user-images.githubusercontent.com/11080523/50203944-248af480-0389-11e9-8b08-057c0d94f27a.png)

I have seen in preview that the menu can be anchor

[2019-01-01 12:48] afshin-hoseini commented on #41
It's because of the `flexDirection` of it's hierarchy. It shouldn't be `row`.

For example the menu works on following code prefectly:

[code]

But if I change the `flexDirection` to `row` it won't be shown.

[2019-01-08 02:01] Jacky9425 commented on #33
how about navigation bar on android? Currently my navigation bar is hidden natively but when the menu dropdown triggered for this package, the navigation is shown, and components covers by it is not able to respond onPress

[2019-01-14 09:47] #50 closed

[2019-01-14 09:48] mxck commented on #51
@mddanishansari can you show code example at [snack](http://snack.expo.io)?

[2019-02-12 20:06] zoellex opened #53 "Opening delay on iOS only"
The menu works perfectly on Android, but now I tested it on iOS and it needs at least 10 seconds to open the menu (sometimes even longer). I also tried out to delete everything in the showMenu method because I thought maybe it slows it down on iOS, but same issue.

[2019-02-15 15:07] sharathm89 opened #54 "Better solution to open the Menu when 3 dots are clicked in React Native"
I am able to open menu when 3 dots icon is clicked for each item. But can the code be written in a better way..

Right now menu is getting created for each card item but ideally it would have been good to create single **Menu View** and dynamically associate it to some card where ever the **3 dots** is clicked.

[`Expo Source Code Link`](https://snack.expo.io/@sharathm/menu)

![image](https://user

[2019-02-20 20:31] ArthurKnoep commented on #53
I'm also having this issue but on Android. When I open the menu, it take up to 5 seconds to open.
However, I have not tested on iOS

[2019-02-22 15:46] adanna21 opened #55 "Menu Items Not Read by Screen Readers"
Hey there, thank you for making this package, really saved me time. I now need to add accessibility but I can't seem to expose the Menu Items to screen readers even when I set accessibility to true.

[2019-03-16 01:16] joniashton commented on #54
Hi there,
I am just wondering how you added an image onto the menu button?
I have added Image to the button (rather than Text), although my issue
is that when the image is pressed, the menu does not appear.

`button={<Image
            onPress={this.showMenu}
            style={styles.iconStyle}
            source={require('./assets/icons/dotsIcon.png')}

            </Image>}`

Hoping you may hav

[2019-03-20 00:50] joselazarosiqueira commented on #53
Same problem on Android.

[2019-03-31 20:30] eff-society commented on #53
I'm facing a similar issue on Android. The menu takes ~5 seconds to show up, but only the first time.

[2019-04-02 08:53] snelanga commented on #54
@joniashton I've used a image like this and it works.

`button = {
<TouchableOpacity onPress = {this.showMenu}>
        <Image
            onPress = {this.showMenu}
            style = {{ margin: 20 }}
            resizeMode = 'contain'
            source = {require('../../assets/images/dot_menu.png')} />
</TouchableOpacity>
}`

[2019-05-01 07:46] AarshApple commented on #51
Any luck finding the solution !

[2019-05-05 13:04] dragonStandard123 commented on #8
Same issue

OS : Android O,
react-native : 0.59.5
react-native-material-menu: ^0.4.2

[2019-05-26 15:41] mxck commented on #29
If the error is still present, I will reopen issue.

[2019-05-26 15:41] #29 closed

[2019-05-26 15:58] mxck commented on #33
@Jacky9425 @naveedshahji does the bug still exist in the last react-native? I just tested on virtual device and I can't catch this bug.
So if bug exists I will reopen this issue.

[2019-05-26 15:58] #33 closed

[2019-05-26 16:00] mxck commented on #41
@vijay2330 hi! This bug still exits? If it still exists I will reopen this issue.

[2019-05-26 16:00] #41 closed

[2019-05-26 16:05] mxck commented on #51
@mddanishansari @chohonest does the bug still exist in the last react-native? I just tested on virtual device and I can't catch this bug.
So if bug exists I will reopen this issue.

[2019-05-26 16:05] #51 closed

[2019-05-26 16:08] mxck commented on #53
@zoellex @ArthurKnoep @joselazarosiqueira @eff-society did you try on real devices or emulator?
Just try on real devices or try use production mode.

If bug will still exits I will reopen issue.

[2019-05-26 16:08] #53 closed

[2019-05-26 16:10] mxck commented on #54
@sharathm89 I will rewrite this library using contexts so soon you can use only one modal overlay for each screen.

[2019-05-26 16:11] mxck commented on #55
@adanna21 Hi! Can you post some example code or guide how test android apps for accessibility. Thx! :)

[2019-05-26 16:18] zoellex commented on #53
Actually I tried it on 3 different iPhones and iOS versions and it still doesn't work.

[2019-05-26 17:16] mxck commented on #51
Seems this RN bug https://github.com/facebook/react-native/issues/14887

[2019-05-26 17:54] mxck commented on #53
@zoellex can you post some code?

[2019-05-26 17:55] mxck commented on #53
@zoellex did you try production mode also? Did you use JS chrome debugging?

[2019-06-06 09:58] Johncy1997 opened #59 "MenuItems not showing fully on android Device.Working on Emulators!"
I tried to display the menuitems on header right. But what happened is, it working perfectly on simulators both android and ios.Please refer my Screenshot.
<img width="460" alt="Screenshot 2019-06-06 at 3 21 48 PM" src="https://user-images.githubusercontent.com/25324938/59024187-fcc41600-886e-11e9-930e-f6ad97db20af.png">

It not fully visible on Android devices.Working on iphones.
![2019-06-06](ht

[2019-06-06 13:57] Johncy1997 commented on #59
Solved by setting height.

[code]

[2019-06-06 13:57] #59 closed

[2019-06-13 18:25] maps75 opened #60 "Failed prop type: Invalid prop `children` of type `array` supplied to `MenuItem`, expected `string`."
Hi,
In your documentation the **_children_ property** is required, but in your sample code you don't use it.
How can I fix this problem?
Here is my MENU code:

[code]
I know that there is another issue closed **[HERE](https://github.com/mxck/react-native-material-menu/issues/48)**, but there is not solution.

Thank you!

[2019-06-13 18:51] #60 closed

[2019-06-13 18:52] mxck commented on #60
@maps75 hi! Fixed in v0.6.2

[2019-06-13 20:14] maps75 commented on #60
It works. Thank you!

[2019-06-13 20:26] mxck commented on #60
👍

четверг, 13 июня 2019 г. пользователь maps75 <notifications@github.com>
написал:

[2019-06-15 04:17] hariramnandagopal opened #61 "Menu Item width is hard coded."
Hey,

Thanks for the plugin, it is really useful and got us over the line, However, I feel the Menu Item is being hardcoded and prevents the item to grow over `248px`, hence impacting the onPress.

File - `src/MenuItem.js`
Location - `styles -> container -> maxWidth` [Line 79]

Current issue

![image](https://user-images.githubusercontent.com/10302158/59546836-d2adda80-8f77-11e9-8d08-f0d9f34acb7f.

[2019-06-15 11:10] mxck commented on #61
@hariramnandagopal you can pass `style` prop to `MenuItem` and set `maxWidth` to `auto` or `'100%'` like this:
[code]
or you can write own component wrapper with `maxWidth: auto` or `maxWidth: '100%` like this:

[code]

and use it like this:

[code]

This is good for you? :)

[2019-06-18 11:54] hariramnandagopal commented on #61
Thanks @mxck this fixed the issue. Closing this issue.

[2019-06-18 11:54] #61 closed

[2019-06-24 15:54] rmscoelho opened #62 "Can we make the menu fixed at the bottom of the screen?"
Good evening,

I am trying to make the menu always open in the same position, because I am having trouble with it opening over the last item of a loop, instead of on top of the clicked item.

If there is a solution, I'd be pretty grateful.

Thank you!

[2019-06-24 21:33] mxck commented on #62
@rmscoelho at the moment this is not possible.
In near future I want rework this component in small one like `overlay` and `menu` and you can build own menu from this components and configure them separately (that also close #54).

For temporary fix you can modify that [line](https://github.com/mxck/react-native-material-menu/blob/master/src/Menu.js#L88) to set menu position from props (or use har

[2019-06-24 22:43] rmscoelho commented on #62
@mxck Thanks man!
I ended up finding a fork of your work, that worked in a different way and so didn't give me problems with the way I was doing stuff (which is probably very very wrong).

But keep going, this is pretty good stuff, good potencial! ;)

[2019-06-26 06:40] alirezarzna opened #63 "crash on react-native-web"
on react-native-web it crashes giving me this error.
`Uncaught TypeError: _TouchableNativeFeedback.default.SelectableBackground is not a function`

[2019-06-26 17:10] #63 closed

[2019-06-26 17:11] mxck commented on #63
Fixed in #64

[2019-07-09 08:33] wilfriednhw opened #65 "handle menu in dynamic List."
Hi,

Please I have dynamic list, how can handle menu for each item of this list

[2019-07-09 11:30] mxck commented on #65
@wilfriednhw hello! Right now you can create menus for each item, but this is not optimized. In the future, I will rework this library by using react context.

[2019-07-09 12:02] wilfriednhw commented on #65
Thank you for your answer, I have another problem.

for example, I have 6 elements, when I click on the first element, the menu is triggered on the sixth element.

What to do please

[2019-07-09 15:14] wilfriednhw commented on #65
HI @mxck

I found a solution to handle this problem. This could help others.

here is my code

    //===================For dropdown menu=============================//

    _menu = [ ];

    hideMenu = (item) => {
        this._menu[item].hide();
    };

    showMenu = (item) => {
        this._menu[item].show();
    };

    displayDropdown = (item) => {
        return (
            <Menu

[2019-07-09 17:35] harjindersinghbobby opened #66 "How can I onPress MenuItem navigate to another page"
[code]
**//Alert , Linking_openUrl function works , but navigation do not works, can you please help me,
//  And I also need SubItems for MenuItem , can you send the code**

[2019-07-19 19:54] alyuid opened #68 "Modal (Pop Up) after click on MenuItem"
I want to share an interesting case. I am using this component for opening a modal screen, I mean a pop-up modal. If i click on a MenuItem it will be opened. It is working smoothly on Android but if i do that on IOS, it is not showing me that modal. So i tried so many variations and I solved it just like this

[code]

If i put a second this._menu.hide() line, it works. That looks so meaningless to

[2019-07-20 09:57] mxck commented on #68
@alyuid hi! This menu builded on modal and react-native have some problems with multiple opened modals.
In 0.6.5 I added onHidden callback to `hide()` method or you can pass onHidden prop to menu.
So you can do this:
[code]

[2019-07-20 09:57] #68 closed

[2019-07-20 10:03] mxck commented on #66
@harjindersinghbobby in static methods you don't have access to class instance properties. So you can't call `this.props.navigation`.

[2019-07-20 10:03] #66 closed

[2019-07-20 13:31] harjindersinghbobby commented on #66
so any other solution  ? how can i achieve this ?

[2019-07-20 14:35] mxck commented on #66
@harjindersinghbobby see react-navigation docs ;)
https://reactnavigation.org/docs/en/header-buttons.html#header-interaction-with-its-screen-component

[2019-07-20 19:44] mohamadian opened #69 "RTL Support"
The menu is not shown when I use an RTL user interface. The position of the menu button is incorrect. In function **show()** at line 89, the **this._container.measureInWindow()** function return wrong "Left" position of the menu button.
To solve the problem, in **render()** function at line 146, I just add the following code. It works for me.

[code]

The **render()** function looks like this:

[c

[2019-07-20 19:50] harjindersinghbobby commented on #66
okay thankyou so much

[2019-07-20 20:19] mohamadian commented on #69
The above solution is not working in some case. It needs your help.

[2019-07-21 10:15] Krishna-Vyas opened #70 "onHidden is not a function"
If i click on the other parts of screen while menu is displayed, i found this error. Please check it and give me solution if it is.

TypeError: onHidden is not a function. (In 'onHidden()', 'onHidden' is an instance of Class)

[2019-07-21 10:51] #70 closed

[2019-07-21 10:51] mxck commented on #70
@Krishna-Vyas fixed

[2019-07-23 23:01] calle284 commented on #30
Did you get a solution for this?
Because it is not working for me

[2019-08-17 10:57] yaron1m commented on #69
I added a pull request #73

[2019-08-23 13:13] mxck commented on #69
Closed in 35ad4c034ea39ee06908e46b15cc55fcbb440f51

[2019-08-23 13:13] #69 closed

[2019-08-23 13:23] mxck opened #75 "Add example that can be run locally"
For testing purposes need add local example to repo using expo (if it possible) or react-native (by modify `metro.config.js`, like in [this](https://github.com/pietile/pietile-native-kit/tree/master/example) repo).

You can take an example from [README.md](https://github.com/mxck/react-native-material-menu/blob/master/README.md) or create own.

[2019-08-25 12:39] tasawar-hussain opened #76 "ReadMe update for react native web support"
Please update the readMe and the the package description along with tags for support of react-native-web.

Thanks

[2019-08-27 15:00] hossamnasser938 commented on #24
Try remove the css-like attribute `position: 'absolute'` and see if the menu would show up or not. This is because I can not get it to work with absolute positioning so I guess that this is the problem with you too.

[2019-08-29 06:33] jeffelector commented on #65
you saved my day ! thanks!

[2019-09-04 18:39] BobsonTheFirst commented on #42
So how do you make a custom MenuItem?

[2019-09-04 18:51] mxck commented on #42
@BobsonTheFirst hi! Right now you can pass icons (like react-native-vector-icons or expo icons) to MenuItem component.

So you can do something like this:
[code]

You need just replace IconSet component with yours and add some styles, like margin after icon. :)

[2019-09-04 20:09] BobsonTheFirst commented on #42
Hi, Thanks for your reply.

I got the icon working, but somehow i am unable to style. Color and fontSize are working, but for example margin isn't. Do you have a solution for that?

Btw, in your code you forgot a / in IconSet ;)

[2019-09-04 20:56] mxck commented on #42
Oh, sorry. Margin and padding doesn't work in text. Just add `{' '}` (space symbol) between icon and text. Like this ```<IconSet icon={icon}/>{` `}<Text>{text}</Text>```

My bad, I try just type without tests :)

[2019-09-04 21:55] BobsonTheFirst commented on #42
Some space between the icon and text is exactly what I did :D I hoped there was some other solution, but there isn't. So stick to my old solution ;) Thanks anyway :D

[2019-09-05 13:09] likern commented on #54
@sharathm89 You can try out this package - https://www.npmjs.com/package/react-native-enhanced-popup-menu.  It initially was based on this **react-native-material-menu**, but  more flexible in terms of customizations.

You can select base component to which you will stick menu. Then, later, at pressing dots for other components, you can compute dynamic offsets (added to base position) - this offse

[2019-09-05 13:19] likern commented on #62
@rmscoelho You can try out this package - https://www.npmjs.com/package/react-native-enhanced-popup-menu. It initially was based on this **react-native-material-menu**, but more flexible in terms of customizations.

I support not only bottom position, but BOTTOM_LEFT, BOTTOM_RIGHT, BOTTOM_CENTER. And on top of that you can add your custom dynamic position shifts (offsets). It allows you to place m

[2019-09-05 13:25] rmscoelho commented on #62
@likern I think we ended up using that one. Not sure now, it was 3 months ago already ahahah
But we managed to do it, it's what matters.

Many thanks anyways!

[2019-09-18 13:46] jonathanatn opened #77 "implement Reanimated"
Love the library, should be more popular, thanks for that !

I think performance could be improved by implementing Reanimated for animation

[2019-09-18 17:56] mxck commented on #77
@jonathanatn hi! It's my pleasure!
Maybe you're right and native animations could improve speed. But reanimated is native dependency. I don’t want the project to depend on this kind of dependency.
This small pure js library and let it be so 😉

[2019-09-18 17:56] #77 closed

[2019-09-19 03:18] sislovesmedotcom commented on #65
Does not work for me :(

[2019-10-03 12:02] jonathanatn opened #78 "Bug on iOS when used with Alert"
If a MenuItem fire an alert +  this.myMenuRef.hide();, it will freeze the complete UI of the app, probably because it close the menu and the alert in the same time

Example:
[code]

I also tried to switch the order of this.setReminder('none') and this.reminderMenu.hide()
But still problematic

A simple solution is to not hide the menu or hide it in the alert function but still a weird a behaviour

[2019-10-05 14:13] mxck commented on #78
This known bug. Check https://github.com/mxck/react-native-material-menu/issues/68.
```this.reminderMenu.hide(() => this.setReminder('none'));)```

[2019-10-05 14:13] #78 closed

[2019-10-05 20:09] r-mhjn commented on #65
@wilfriednhw  i tried using  ur solution but the problem of menu being displayed on the last item of flatlist is still there

[2019-10-05 20:13] r-mhjn commented on #54
@sharathm89  hey could you please share how ur able to get the popup menu alongside each card .. im trying to implement this but the menu is always displayed on the last element of the flat list.....thanks in advance

[2019-10-18 01:04] huutritran opened #79 "MenuItem underlayColor not working"
// MenuItem.js
const Touchable = Platform.select({
  android: TouchableNativeFeedback,
  default: TouchableHighlight,
});

underlayColor not working in default, when change to  android: TouchableHighlight it work correctly

[2019-10-20 10:30] anishkargaonkar commented on #75
I would like to work on this issue

[2019-10-21 07:09] AmitPandya007 commented on #66
I want to achieve something like this:
[code]

But It seems that <MenuItem onPress={} </MenuItem> is not being called. Any help Please.

[2019-10-22 01:40] anishkargaonkar commented on #75
#80

[2019-10-22 01:44] anishkargaonkar commented on #75
add example to locally test react-native-material-menu #80

[2019-10-22 01:51] anishkargaonkar commented on #75
#80 **add example to locally test react-native-material-menu**

[2019-10-24 12:06] AmitPandya007 commented on #78
@mxck
this issue is with Android as well. When on MenuItem alert is called.

[2019-11-06 13:57] shamim96 opened #81 "I need to menu appears after the button"
I have integrated the menu. My all menus are appears from bottom, when I click the button(3 doted button). But I want my menu should appears after the button.
Please suggest me how can I do that.
The are the code

[code]
<img width="447" alt="Screenshot 2019-11-06 at 7 49 33 PM" src="https://user-images.githubusercontent.com/30243427/68304290-a7b35700-00cf-11ea-95a6-f54646d7ecc5.png">

[2019-11-11 08:24] oriharel commented on #33
The bug still exist. I'm running Expo SDK 35 which runs React Native 0.59.

[2019-11-27 07:30] smartsuhani commented on #53
Was facing the same issue. If debug mode is on, try after stopping debug mode. It resolved in my case.

[2019-12-05 10:23] arunkrishnang86 commented on #65
Same issue persisting for me . Did anyone found a solution for this ?

[2019-12-16 19:55] RenanSanguinete opened #82 "Is possible to scroll on long list"
This issue can be repeated #40, but the other one doesn't show the answer.

Is possible to scroll on long MenuItem list?

**Example:**

[code]

[2019-12-17 19:23] Krever opened #83 "Navigation bar color flickers"
Hey, I have my project based on native-base and run with expo. By default the navigation bar on android (the one with home button) is white, but when I open the menu it changes to black. Do you maybe now what is causing this and how to overcome the issue?

Thanks!

[2020-01-01 11:13] shababcreative commented on #82
I don't know if this is the right way to do it but it solve the scroll issue on long lists :)
edit this file `node_modules\react-native-material-menu\src\menu.js`
[code]
and add `maxHeight` to `Menu` style:
[code]

[2020-01-02 20:55] RenanSanguinete commented on #82
I don't know if this is the better solution, but it works like a charm.

Thanks a lot!

[2020-01-21 12:18] Harsh2402 opened #84 "Not able to show view after doing an action from MenuItem"
When I click on MenuItem, then I am sowing alert dialog, then once the menu will hide, after pressing a MenuItem, then for the few secs, an alert is showing and then it also closed, as the model will close.

I have used this inside the Row component of Flatlist.

[code]

[2020-02-04 14:20] Fmendescn commented on #81
Same problem, any solution ?

[2020-02-12 14:53] mr-islam commented on #81
Use this fork, it positions better by default and allows more customization:

https://github.com/likern/react-native-enhanced-popup-menu

[2020-02-14 02:12] knapcio commented on #70
I just had a similar problem and realised I was doing a trivial mistake here. Sharing it in case somebody else has a similar problem:
I was passing the `hide` function directly to onPress:
`<MenuItem onPress={this.menuRef.hide}>`
The `hide` function signature is `function hide(onHidden) { ... }`
So basically if you pass the function directly to onPress it passes `event` from onPress and the functi

[2020-03-10 09:48] Kazehiro commented on #81
same issue, any update?

[2020-03-28 04:06] pnthach95 opened #86 "Cannot use MenuItem with RN 0.62"
[code]

In RN 0.62, they removed propTypes from TouchableHighlight, so it broke.

[2020-03-28 20:14] MujtabaFR commented on #86
I'm having the same issue with **RN 0.62** and **react-native-material-menu 1.0.0**
still looking for a solution

[2020-03-29 03:21] mxck commented on #86
I published 1.1.0 version without PropTypes at all :)

[2020-03-29 03:21] #86 closed

[2020-04-01 00:09] lnickdnguyen opened #87 "Animated: `useNativeDriver` was not specified."
I receive the below warning when using Menu. Please update to include useNativeDriver={true} in your animations. Thanks!

WARN     Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

[2020-04-02 04:27] mxck commented on #87
Fixed in v1.1.1

[2020-04-02 04:27] #87 closed

[2020-04-02 10:31] anmolguptachicmic opened #88 "Style property 'width' is not supported by native animated module"
**Issue Description**
When I click on the menu button it gives me an error **Style property 'width' is not supported by native animated module**
This was working fine in 1.0.0 but it is broken in version 1.1.1

**Expected Results**
Should show the menu on click

**Additional Information**
React Native version:0.61
Platform(s) (iOS, Android, or both?):both
Operating System (macOS, Linux, or Windows

[2020-04-02 11:00] joshuadiezmo commented on #88
any fixed for this?

[2020-04-02 11:06] joshuadiezmo commented on #88
The problem is they add `useNativeDriver: true,` on Menu.js file

@anmolguptachicmic you can just comment this lines

https://github.com/mxck/react-native-material-menu/commit/4e4e7673ac96882a46eeba841f56d547ef07fcaf#diff-e359c93bc52c848fbef7e3bdc25527dbR68

https://github.com/mxck/react-native-material-menu/commit/4e4e7673ac96882a46eeba841f56d547ef07fcaf#diff-e359c93bc52c848fbef7e3bdc25527dbR74

[2020-04-02 11:11] yohix commented on #88
This is happening for me too!

[2020-04-02 11:18] anmolguptachicmic commented on #88
Thanks, @joshuadiezmo it worked.

[2020-04-02 11:46] mxck commented on #88
Fixed in 1.1.2! Sorry for 1.1.1, I revoke this version from npm.

[2020-04-02 11:46] #88 closed

[2020-04-02 11:53] yohix commented on #88
Thanks a lot, @mxck :heart:

[2020-04-10 03:41] ilhamsa1 opened #89 "I did not found any example to change the menu transition to "Top Left, Center, Bottom Left etc" in the documentation, is that really possible?"
I did not found any example to change the menu transition to "Top Left, Center, Bottom Left etc" in the documentation, is that really possible?

![68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f336f76396a55765148345538324a474e52432f67697068792e676966](https://user-images.githubusercontent.com/33473051/78960276-c5219c80-7b17-11ea-8e9e-4a2efb50c991.gif)

[2020-04-11 18:32] ansarikhurshid786 commented on #89
I am also looking for the same.

[2020-04-13 15:34] omarelnakib opened #90 "using menu in a flat list, the menu is shown at the location of the last menu button even i press on any other menu item"

[2020-05-07 16:06] kabitacode commented on #65
in flatlist ( renderItem I added items and index)
[code]
Solved for me :) thank's @jeffelector

[2020-06-03 08:22] nishaQueppelin commented on #90
I am also facing the same issue. Any Suggestions?

[2020-06-03 08:25] nishaQueppelin commented on #30
I am facing the same issue too

[2020-06-05 17:10] amk-cb opened #91 "Fontfamily of MenuItem is not changing"
` menuTextStyle: {
      color: this.config.appColors.lightTextColor,
      fontSize: 14,
      fontFamily: Fonts.LatoSemibold
    }`

[code]

[2020-06-12 04:41] Saad-Bashar commented on #65
I am having a problem implementing this ref with `useRef`. Can anyone guide me? @kabitacode ?

[2020-06-21 18:44] m-gautam commented on #84
Found any solution fro this @Harsh2402

[2020-06-22 03:29] mxck commented on #84
This known bug. Check #68.

[2020-06-22 03:29] #84 closed

[2020-07-15 15:07] bjh0501 commented on #53
me too
same issue

Screen Source

[code]

Navigation source

[code]

[2020-07-22 06:01] alz10 commented on #90
Same Issue here

[2020-07-25 17:50] kapilpau opened #93 "TouchableHighlight error on start up"
When I try and run my app in development mode, I get an error saying:

[code]

When I go to the [demo](https://snack.expo.io/@mxck/react-native-material-menu-demo), there's a similar error as well:
[code]

[2020-07-27 03:52] mxck commented on #93
@kapilpau did you run in `web`?

[2020-07-27 13:23] papadi commented on #42
This is weird. The extra space will solve - in a non-elegant way  - the space issue between the icon and the text, but in my case, the icon and the text aren't properly aligned vertically. The icon has some padding at the bottom. Any idea how to fix this?

![image](https://user-images.githubusercontent.com/3359377/88546780-29139680-d01d-11ea-847f-60a46cc2462e.png)

[2020-08-05 10:19] Softkeydel opened #94 "keyboard is hiding"
On open menu keyboard is hiding. Please give some solutions so that both keyboard and menu can be visible at the same time

[2020-08-07 14:12] rdgoutiyama commented on #93
editing `/node_modules/react-native-material-menu/src/MenuItem.js`

**removing**

`

MenuItem.propTypes = {
  children: PropTypes.string.isRequired,
  disabled: PropTypes.bool,
  disabledTextColor: PropTypes.string,
  onPress: PropTypes.func,
  style: TouchableHighlight.propTypes.style,
  textStyle: Text.propTypes.style,
  underlayColor: TouchableHighlight.propTypes.underlayColor,
};

`

works, or

[2020-08-10 11:19] vikil143 opened #95 "TypeError: undefined is not an object (evaluating '_reactNative.TouchableHighlight.propTypes.style'"
I got this error at react-native-material-menu when upgrading my react native version 61.5 to 63.2 I not getting how to solve this error any help, please

Actually this error says react-native TouchableHighlight undefined at MenuItem below code base at MenuItem.js file
`MenuItem.propTypes = {
  children: PropTypes.node.isRequired,
  disabled: PropTypes.bool,
  disabledTextColor: PropTypes.string,

[2020-08-11 05:05] vikil143 commented on #95
Any help please

[2020-08-11 08:25] mxck commented on #95
@vikil143 please check your material-menu-version.
It must be actual (v1.1.3)

[2020-08-11 08:40] vikil143 commented on #95
Its version (v1.0.0)

[2020-08-12 22:24] kapilpau commented on #93
@mxck what do you mean?

[2020-08-12 22:37] rdgoutiyama commented on #93
Upgrading to v1.1.3 works.

[2020-08-13 09:52] mxck commented on #95
Upgrade to actual version.

[2020-08-13 09:52] #95 closed

[2020-08-19 20:46] aceallen11 commented on #59
hi, can you provide full code? I'm too getting ref error

[2020-09-18 07:11] jordangrant commented on #89
Simply put the Menu in an absolutely positioned View.

[code]

[2020-11-03 05:47] ammarahm-ed opened #98 "Proposal: Use react-native-reanimated for 60FPS animations."
Hello, thanks for this amazing library.

I would like to propose using [react-native-reanimated](https://github.com/software-mansion/react-native-reanimated) for native 60FPS animations. I have migrated to it in [my fork](https://github.com/ammarahm-ed/react-native-material-menu) and it is working perfectly. Let me know if this is something you are willing to add here and I will make a pull reques

[2020-11-03 08:39] mxck commented on #98
Hi!
Cool job, but I would like to leave this package without any native dependencies :).
Thank you!

[2020-11-03 08:39] #98 closed

[2020-11-03 08:54] ammarahm-ed commented on #98
Ok, sounds good.

[2020-11-03 10:19] medmo7 opened #99 "How to wrap text inside MenuItem?"
Thank for this library.
I'm trying to wrap the text inside MenuItem so the totality of it is shown, now it is cut.
Here is my implementation:
[code]

Thanks.

[2020-11-04 18:19] PabonSEC commented on #59
Thanks a lot, this code helps me to get rid of my error.

[2020-11-16 07:03] cenaHara commented on #53
same issue,any solution ?

[2020-11-16 07:24] cenaHara commented on #53
when turn on debug mode , menu show but i turn off debug or build release , menu no show
my code :  <View style={styles.viewMenu}>
          <Menu style={styles.menu} ref={menuRef} >
          {
            list.map((item, index) => {
              return  <MenuItem
                key={index}
                style={[styles.containStyle, ( index === list.length - 1 && styles.containStyleBottom )]}

[2020-12-02 14:05] amk-cb opened #100 "onHidden is not working on iOS"

[2020-12-03 15:21] watnFoehn commented on #100
There is even a PR fixing it:
https://github.com/mxck/react-native-material-menu/pull/96

Please merge it!

[2020-12-06 12:02] mxck commented on #100
Fixed in https://github.com/mxck/react-native-material-menu/commit/84209fc06834ecbf3e65fcbf7b6778d1ac0bb83f

[2020-12-06 12:02] #100 closed

[2020-12-10 08:09] AliRezaBeigy opened #101 "Menu Postion"
Is there any way to set the position menu should be shown?
I need to show the menu like the bottom item in demo

![](https://camo.githubusercontent.com/82d2d7bb0a841576f44e5c930e08e65073dc13c6e61642c151606570111089cf/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f336f76396a55765148345538324a474e52432f67697068792e676966)

[2021-01-07 17:12] syedsaadqamar commented on #42
Facing the same vertical align issue
![image](https://user-images.githubusercontent.com/38069997/103922352-6dab6e00-5135-11eb-8c8c-c7a072450649.png)

[2021-01-15 07:17] gauravsbagul opened #102 "On FlatList does not appears on exact point"
Hey guys I am trying to open Menu on more options on my list of cards on FlatList.
But the menu is appearing on the left side of the card and not beside the more icon.
Can you please help me with this?

<img width="350" alt="Screenshot 2021-01-15 at 12 46 48 PM" src="https://user-images.githubusercontent.com/25247251/104693509-c8455b00-572f-11eb-8600-4400253fd8fc.png">

[2021-01-15 13:30] SirPhemmiey commented on #99
Hey @medmo7 did you find a workaround for this?

[2021-01-17 09:09] medmo7 commented on #99
I've added this prop to MenuItem:
[code]

[2021-01-20 06:54] SirPhemmiey commented on #99
Alright, thanks

[2021-01-20 14:38] gauravsbagul commented on #65
@Saad-Bashar same here

[2021-01-30 13:09] minos95 opened #103 "Warning: Encountered two children with the same key, `5`"
how can i fix this issue  please ??

[2021-02-02 11:30] Roocha-T commented on #90
![Screenshot 2021-02-02 at 4 58 24 PM](https://user-images.githubusercontent.com/75784036/106594469-253a7100-6578-11eb-8f4a-9be7868f5bfa.png)

[2021-02-17 11:57] varunSuccessive opened #104 "it's not working according to index."
i have list of array and I have to open pop Menu  according to index but it's always appearing for last index value. So how to specify to appear index wise.

[2021-02-18 12:16] varunSuccessive commented on #65
showMenu = (item, index) => {
        this._menu[index].show()
    };

<Menu
  ref={(menu) => {this._menu[index] = menu}}
  button={<Text onPress={()=>this.showMenu(item, index)}>Show menu</Text>}>
  <MenuItem onPress={this.hideMenu}>Menu item 1</MenuItem>
  </Menu>

Solution worked for me:) thanks alots.

[2021-02-20 17:13] rajush1 opened #105 "How to work with hook"
import React, { useRef } from 'react';

import { View, Text, StyleSheet ,ImageBackground} from 'react-native';
import Menu, { MenuItem, MenuDivider } from 'react-native-material-menu';

/**
 * Note:
 * This demo uses latest version of expo with react hooks support.
 * You can read about hooks at https://reactjs.org/docs/hooks-intro.html
 */

function App() {
  const menu = useRef();

  const hideM

[2021-02-26 08:53] vismayainnow8 commented on #104
yes .. i too found the same issue

[2021-03-01 01:36] netsnatch opened #106 "MenuItem onPress not working"
TouchableHighlight onPress not working on iOS 14.4
react-native-material-menu: v1.2.0

[code]
And alert is not called.

[2021-03-09 22:25] Noitidart commented on #10
What is the shadowOffset `width`?

[2021-03-11 12:37] moremi opened #108 "Please add modalBackgroundColor prop"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-material-menu@1.2.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-03-11 13:33] mxck commented on #108
@moremi Hi! Thanks for the suggestion. Can you do a PR?
Also, do you think it would be useful for the user to change the whole `style` instead of only `backgroundColor`?

[2021-03-17 10:14] ionistrati commented on #94
I have the same problem, I'm trying to make an autocomplete field, I did set the button as text input, but every time I touch it, the keyboard is hiding. Next touch is triggering the text input, but the menu is hiding instead.

[2021-03-18 11:50] ZeeshanAhmadKhalil commented on #54
did you tried `react-native-popup-menu` ?

[2021-03-28 10:07] rajkhan91 commented on #102
I am facing same issue have you find any solution ?

[2021-03-30 03:30] gauravsbagul commented on #102
@rajkhan91  hi, I have used transform to move the menu options to the right. or you can also use Menu from 'react-native-paper'

[2021-03-31 06:15] rajkhan91 commented on #102
@gauravsbagul use Animated.FlatList instead of FlatList than this problem is solved, there is no need to write any css.

[2021-04-26 12:23] bcbcbcbcbcl commented on #82
You can simply achieve it by adding scrollview to the selection like this in your code instead of edit this file `node_modules\react-native-material-menu\src\menu.js`

[code]

[2021-06-01 18:36] UnSensei commented on #104
declare the menu = []
and when you try to show or close, pass the unique id like this.menu[id].show();

[2021-06-14 04:17] wiztensai commented on #104
no, it cannot. i tried it. i use useRef hook.
TypeError: undefined is not an object (evaluating 'refTopRightMenu["2"].current')

[2021-06-16 21:03] StCyr commented on #106
Got it working nevermind (needed a <Pressable> around my <Image> and OnPress to be onPress)

[2021-06-17 02:39] WesleyAC commented on #94
I'm running into this same problem, it'd be great to see a fix :)

[2021-06-17 20:10] WesleyAC commented on #94
This is caused by the [underlying behaviour in the React Native `Modal` component](https://stackoverflow.com/questions/61654984/persist-keyboard-when-showing-a-react-native-modal). The solutions I can see here are either:

* Change this library to not use a Modal.
* Submit a PR to React Native adding a prop to allow showing modals without hiding the keyboard, and use that.

@mxck, is this somethin

[2021-07-20 11:06] froger commented on #99
Hello,
I've the same issue here, I understand reading [menu item](https://github.com/mxck/react-native-material-menu/blob/master/src/MenuItem.js#L40) file, the MenuItem component already wrap the children in a Text.

Passing `ellipsizeMode='clip'` to `<MenuItem>` make the text display without ellipsis, but as not every Text's props are available, I can't set a `numberOfLines`. That's especially pr

[2021-08-23 19:32] mxck commented on #55
Stale

[2021-08-23 19:32] #55 closed

[2021-08-23 19:32] #75 closed

[2021-08-23 19:32] #76 closed

[2021-08-23 19:33] mxck commented on #79
This should be fixed in v2.0.0.
Prop right now is called `pressColor`

[2021-08-23 19:33] #79 closed

[2021-08-23 19:33] #82 closed

[2021-08-23 19:34] mxck commented on #83
This problems from using `Modal` inside this package.

[2021-08-23 19:35] #90 closed

[2021-08-23 19:36] #93 closed

[2021-08-23 19:37] mxck commented on #101
There is no such possibility right now.

[2021-08-23 19:37] #103 closed

[2021-08-23 19:38] mxck commented on #104
Now in version 2.0.0 you do not need to use ref.

[2021-08-23 19:38] #104 closed

[2021-08-23 19:38] mxck commented on #105
I update README with working example.

[2021-08-23 19:38] #105 closed

[2021-08-23 19:38] #106 closed

[2021-08-23 19:50] #108 closed

[2021-08-26 03:00] gpsolarco opened #114 "Unable to start Expo SDK42 app with version 2.0.0.0 of react-native-material-menu"
The UI fails to start when I use v2.0.0.0 with Expo SDK 42. Version 1.2.0 works fine (except the known issue of menu not hiding).
It's giving the following error:

Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have m

[2021-09-22 00:12] SpiriaJWF opened #115 "Can't open a modal right after closing the menu"
I know this was a problem in the last 1.X versions and there was a callback on the hide function. Do you have a workaround for this version?

Thanks!

[2021-10-10 08:59] adnaan2328 commented on #65
1. Create a variable inside your component       let _menu : any = []
2. Inside your renderItem method and in Menu component pass this  ref={(ref)=> _menu[index] = ref }
3. Open your Menu by calling.      _menu[index]?.show();

[2021-11-03 13:04] cnshu commented on #89
my one menu triggers all the menu available in one window

[2021-11-03 13:09] cnshu opened #116 "unable to create multiple menu"
I am trying to create a scroll view with multiple cards and want to open pop menu when user click any card's dot but when i click on one card's dot it just opens all the popup menus.

[code]

when i click on one card's dot all the menu pops up

[2021-11-11 14:45] kramalexx commented on #42
Hi everyone. I managed to find a solution for proper vertical alignment of icon and text in MenuItem component.

Sample code:

`
// JSX code
<Menu ref={setMenuRef} button={Button}>
  <MenuItem style={[layouts.menuItem]} onPress={goToReports}>
    <View style={[s.px3, layouts.menuItemChild]}>
      <FeatherIcon name="edit" style={[s.textDark,]} size={18}/>
      <Text style={[typography.fontXs]}>{`

[2021-12-03 04:59] yincrash opened #117 "Is it possible to hide the menu when clicking away?"
After showing the menu, is it possible to hide it when clicking away from the menu?

[2021-12-03 05:47] yincrash commented on #117
Ah, looks like I just have to set `visible` to `false` when `onRequestClose` is called.

[2021-12-03 05:47] #117 closed

[2022-03-20 13:19] saif-o99 commented on #42
@kramalexx your solution works perfectly but on RTL the menu items will not render, because of the wrapper view

[2022-03-22 10:31] kramalexx commented on #42
@saif-o99 Thanks for the comment. I didn't test it with RTL because we don't need it yet. Do you have a universal solution for this case as well?

[2022-03-22 10:47] saif-o99 commented on #42
@kramalexx i removed the wrapper view and added it's style to the menu item style then they showed up. but still has this problem where i can't get the icons to be in one column on the left side
![image](https://user-images.githubusercontent.com/52207667/159464812-76d552c8-6067-474e-a113-5548ee63af5d.png)

on LTR it works fine
![image](https://user-images.githubusercontent.com/52207667/159464980-b

[2022-06-30 14:48] bilalyaqoob commented on #114
getting the same bug

[2022-06-30 14:51] bilalyaqoob commented on #114
check the package import

import { Menu, MenuItem, MenuDivider } from 'react-native-material-menu';

[2022-09-30 08:57] Inspirateur opened #119 "color attribute of textStyle takes precedence over disabledTextColor"
I'm using the lib on snack (web) and I'm defining a series of MenuItem like so
[code]
But when I display the menu all items are white including the disabled item which should have been red.
When I remove `color: "white"` the disabled item shows up red as expected but of course the rest of the text is default color.

I think it should be fixed if possible and if not a workaround should be displayed